.dbSubHeader {
  display: flex;
  align-items: flex-end;
  padding: 5px;

  h2 {
    font-size: 1.25em;
    font-weight: 300;
    margin: 0;
    color: white;
  }
}

.dbSubHeader-title {
  flex: 1;
}

.dbSubHeader-content {
  display: flex;
  color: white;
}

.dbSubHeader-shadow {
  text-shadow: 1px 1px 2px #000;
}
