@import "bootstrap/scss/bootstrap.scss";
@import '../replay-container/ReplayContainer.scss';

.dbReplaySummary-card {
  @extend .dbReplayContainer-card
}

.dbReplaySummary-cardSmall {
  @extend .dbReplayContainer-cardSmall
}

.dbReplaySummary {
  margin-top: 10px;
  text-align: left;
}

@include media-breakpoint-up(md) {
  .dbReplaySummary {
    margin-top: 0;
    text-align: right;
  }
}
