@import 'src/scss/variables';
@import 'src/scss/utilities';

a {
  color: $material-accent;
  outline: 0;
  text-decoration: none !important;

  &:hover {
    color: $material-accent;
    text-decoration: none !important;
  }
}
