.u-full-height {
  height: 100%;
}

.u-inline-block {
  display: inline-block;
}

.u-super {
  color: $material-accent;
  font-size: 0.5em;
  font-weight: bold;
  position: relative;
  top: -0.95em;
}
